<h1>Repositories</h1>

<p>Este app exibe os 10 repositórios mais bem rankeados no Github das seguintes linguagens: <%= @languages.join(', ').titleize %>.</p>

<p id="notice"><%= notice %></p>

<div id="content">
  <%= link_to 'Buscar repositórios', search_repositories_path, id: 'search' %>
  <div id="repositories-grid">
    <%= render partial: 'repositories', locals: { repositories: @repositories } %>
  </div>
</div>